<launch>
  <param name="ref_lat" value="40.265997"/>
  <param name="ref_lon" value="-111.637861"/>
  <param name="ref_h" value="0"/>
  <param name="SEARCH" value="2"/>
  <param name="PAYLOAD" value="1"/>
  <param name="LOITER" value="7"/>
  <param name="OBJECTIVE" value="4"/>
  <parm name="DROP_LOCATION",value="[INF,INF,INF]"/>

  <node name="mission_planner" pkg="metis" type="mainPlanner.py" output = "screen" />
  <node name="fake_interop" pkg="metis" type="FakeInterop.py" output = "screen" />
  <node name="path_planner" pkg="metis" type="pathPlannerBase.py" output="screen" />
  <node name="payload_drop" pkg="metis" type="payloadDrop.py" output="screen" />

</launch>
